USE [LocalLab2000]
GO
/****** Object:  StoredProcedure [dbo].[SP_OrderEntryTRECEUX_V4]    Script Date: 11/28/2012 17:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------------------------------------
-- Ver 4 (Dic 15 2009) [RL]
-- Agregar la opcion Diseños Especiales (satpickup)
-------------------------------------------------------------------------------------------------------------
-- Ultima Actualizacion Agosto/11/2008 para Ver 3.6.5.3 en adelante [FG]
-- Razon: Se agrego el parametro "optimizado" que genera calculos opticos distintos y se guarda en el campo checkbox20 del orderhed
-------------------------------------------------------------------------------------------------------------
-- Update Ago 30 2012 Pedro Farias
-- Agregar precios especial en AR usando @Diseno
-------------------------------------------------------------------------------------------------------------
-- Update Sep 14 2012 Pedro Farías
-- Arreglado precio en 0 cuando es orden de cadena=2 Sanborns y no se encuentra el prodcode o partnum con el HDRx indicado
-- Update Sep 25 2012 Pedro Farías
-- Arreglado precios en 0 cuando es una cadena. No se aplica precio especial para Trivex, CR-39 o Parasol
---------------------------------------------------------------------------------------------------------------------------
-- Update Nov 28 2012 Pedro Farías
-- Da prioridad al valor de @CostcoLente para saber que hay un paquete. Ahora la variable @CostcoLente trae el código del paquete Augen
-- y da prioridad al precio. Coloca en 0 todos los demás precios y deja el precio del paquete
-------------------------------------------------------------------------------------------------------------
-- Update Mar 12 2013 Pedro Farias
-- Precios nuevos para terminados AR
-------------------------------------------------------------------------------------------------------------
-- Update Mar 13 2013 Pedro Farias
-- Separación del parámetro @lado del parámetro @descto   -- El lado es @lado y el % descuento es @descto
/*  

	Sales Order Entry 
 Datos de Entrada 
    Compania, Planta, NoOrden, cliente, entryperson, ponum, descuento, fecha, shipto, Mensajeria, 'codigo,cantidad, codigo, cant, ...'
 Ejemplo:
    'Augen','MexLab','260000001',2594,'paquita la del barrio','5432', 5, '01/03/2006' , 'Home' , 'UPS', '2105030023, 10, 2105030049, 20, ...'
*/
-- Update Feb 2 2013 Pedro Farías
-- Campo CostcoLente de 40 caracteres

ALTER         procedure [dbo].[SP_OrderEntryTRECEUX_V4]
@compania	varchar(8),
@Plant varchar(20),
@ordernum varchar(9),			-- Agregado por RL
@cliente	int, --varchar(50),		-- Modificado RL
@entryperson varchar(20),
@ponum	varchar(50),
@descto	decimal(6,2),
@lado   tinyint,
@fecEnvio	varchar(20),
@shiptonum	varchar(20),
@mensajeria	varchar(20),
@parametros 	varchar(8000),
@Comentarios	varchar(4000),
--SELE AGREGARON LOS PARAMETRO O CAMPOS CUSTOM AL MOMENTO DE GRABAR LA ORDEN
	@OrdenLab as varchar(30),
	@RefDigital as decimal,
	@TrazadoArmazon as bit,
	@TipoArmazon as decimal,
	@Biselado as bit,
	@Antireflejante as varchar(2),
	@Color as varchar(2),
	@Gradiente as bit,
	@Tono as varchar(2),
	@EsferaR as decimal(8,2),
	@CilindroR as decimal(8,2),
	@EjeR as decimal,
	@AdicionR as decimal(8,2),
	@EsferaL as decimal(8,2),
	@CilindroL as decimal(8,2),
	@EjeL as decimal,
	@AdicionL as decimal(8,2),
	@AlturaR as decimal,
	@AlturaL as decimal,
	@MonoR as decimal,
	@MonoL as decimal,
	@DIPle as decimal,
	@DIPce as decimal,
	@Altura as decimal,
	@A as varchar(8),
	@B as varchar(8),
	@ED as varchar(8),
	@Puente as varchar(8),
	@Material as varchar(2),
	@Diseno as varchar(10),
	@ArmazonID as decimal,
	@Status as bit,
	@Foco as decimal,
	@Coated as bit,
	@Abrillantado as bit,
	@Optimizado as bit,
	@PrismaR as varchar(8),
	@EjePrismaR as varchar(8),
	@PrismaL as varchar(8),
	@EjePrismaL as varchar(8),
	@GrosCenD as float,
	@GrosCenI AS float,
	@CostcoLente as varchar(40),
	@CostcoAR as varchar(8),
	@CostcoTinte as varchar(8),
	@CostcoPulido as varchar(8),
	@SeqID as int,
	@FechaEntradaWeb as datetime,
	@FechaEntradaFisica as datetime,
	@Sincronizada as bit,
	@SpecialDesignID as tinyint,
--fin de parametros custom
@mensaje 	int output

AS

Begin Try
BEGIN TRAN

-- obtencion de current_date, datos de part y partbin
declare @current_date	varchar(20)
declare @partnum	varchar(20)
declare @partqty	decimal
declare @custnum	decimal
declare @maxOrden	decimal(9,0)
declare @maxProg	decimal
declare @binnum	varchar(10)
declare @onHandQty	decimal
declare @descr		varchar(100)
declare @ium		varchar(2)
declare @typecode	varchar(1)
declare @price		decimal(9,2)
declare @auxprice 	decimal
declare @pricexcode	varchar(1)
declare @expDept	varchar(50)
declare @expChart	varchar(50)
declare @expDiv	varchar(50)
declare @prodCode	varchar(8)
declare @costmethod	varchar(1)
declare @salesum	varchar(2)
declare @sellingfactor	decimal
declare @descuento	decimal(16,2)
declare @dato 		varchar(20)
declare @warehousecode  varchar(10)
declare @pos 		int
declare @par 		int
declare @orderline 	int
--declare @Lado		int
declare @Terms		varchar(4)
declare @listcode	varchar(10)
declare @plantnum varchar(2)
declare @index int
declare @envioadded	bit
declare @hasshipping	bit
declare @TiempoDeRuta int
declare @IsGratis	bit
declare @IsGarantia	bit
declare @GeneratedYear as varchar(4)
declare @IsWebRx as bit
declare @CurrentVtg as int
declare @TaxCatID as varchar(4)			

declare @HDRxPrice as decimal(8,2)		
declare @HDRxListcode as varchar(10)

declare @cadena as int
declare @skusbn varchar(20)
declare @sd_part varchar(50)

set @TaxCatID = 'MX10'					

set @current_date = CONVERT(datetime, SUBSTRING(CONVERT(varchar, GETDATE()), 1, 11))

--select @CurrentVtg = lastso from tbllastindex with(nolock)
--if @CurrentVtg = @ordernum
--begin
--	set @CurrentVtg = @CurrentVtg + 1
--	set @ordernum = @CurrentVtg
--	update tbllastindex set lastso = @ordernum
--end

-- Tabla partbin
---------------------------------------
--*****Mod by Marco Angulo  warehosecode = 'PT01'  sera variable por que dependera de la planta, 
--*******por lo tanto buscaremos el almaccen de producto terminado que le corresponda al laboratorio ******************************************
declare @WhsePT varchar(15)
select @WhsePT = defshipwhse from plant with(nolock) where company = @compania and plant = @Plant
--***************************************************************************************************************************************************************

select @binnum=binnum, @onHandQty=onhandqty from partbin with(nolock)
where partnum=@partnum and company=@compania and warehousecode=@WhsePT and onhandqty>0


-- Obtengo custnum de Tabla customer
--------------------------------------------------------
set @mensaje = 0
set @custnum = @cliente
--select @custnum=custnum from customer where name=@cliente and company=@compania
set @mensaje = @custnum
if @mensaje = 0 or @mensaje is null
begin
	raiserror('No existe customer number para el cliente', 14, 1)
	commit tran
	return
end

--------------------------------------------------------
-- Checa si la Rx es Garantia
--------------------------------------------------------
set @IsGarantia = 0
set @index = charindex('[GARANTIA_RX]', @Comentarios)
if @index > 0
begin
	set @IsGarantia = 1
	set @Comentarios = substring(@Comentarios,1,@index-1)
end
--------------------------------------------------------
-- Checa si la Rx sera gratis por el Programa Cliente Distinguido
--------------------------------------------------------
set @IsGratis = 0
set @index = charindex('[FREE_RX]', @Comentarios)
if @index > 0
begin
	set @IsGratis = 1
	set @Comentarios = substring(@Comentarios,1,@index-1)
end
--------------------------------------------------------
-- Checa si la Rx se metio por Web
--------------------------------------------------------
set @IsWebRx = 0
set @index = charindex('[WEB_RX]', @Comentarios)
if @index > 0
begin
	set @IsWebRx = 1
	set @Comentarios = substring(@Comentarios,1,@index-1)
end
--------------------------------------------------------
-- Checo cuando se genero la Rx, el año, y si es garantia
-- se busca cuando fue la ultima buena que se genero
--------------------------------------------------------
if @IsGarantia = 1
begin
	select @GeneratedYear = shipcomment from orderhed with(nolock) where company = 'TRECEUX' and shortchar01 like @OrdenLab+'%' order by convert(varchar(4),shipcomment) desc
	if @GeneratedYear = ''
	begin
		set @GeneratedYear = convert(varchar(4),year(getdate()))
	end
end
else
begin
	set @GeneratedYear = convert(varchar(4),year(getdate()))
end
--------------------------------------------------------
-- Checar si es Virtual y a donde va (RL)
--------------------------------------------------------
declare @IsReceivingAR	bit
declare @OriginalRefDigital int
declare @IsVirtualRx as bit
declare @RcvedRemoteDate as datetime
declare @ARLab as varchar(10)

set @ARLab = @ponum
set @IsReceivingAR = 0
set @RcvedRemoteDate = null
set @OriginalRefDigital = @RefDigital
if @ponum <> ''
begin
	set @IsVirtualRx = 1
	set @ponum = ''
	if substring(@ordernum,1,2) like @ARLab
	begin
		set @IsReceivingAR = 1
		set @RcvedRemoteDate = getdate()
		set @OriginalRefDigital = @RefDigital
	end
end
else
begin
	set @IsVirtualRx = 0
	set @OriginalRefDigital = @RefDigital
end
--------------------------------------------------------
-- Checar el tiempo que tardara en la ruta (RL)
--------------------------------------------------------
if @Antireflejante <> 0
begin
	set @TiempoDeRuta = 3
end
else if @Biselado = 0
begin
	set @TiempoDeRuta = 3
end
else if @TipoArmazon = 1 or @TipoArmazon = 2
begin
	set @TiempoDeRuta = 4
end
else
begin
	set @TiempoDeRuta = 5
end

declare @startdate datetime
declare @finaldate datetime
declare @day integer
declare @sdate varchar(10)
declare @nextday as varchar(10)
declare @starthour as integer
declare @inithour as integer
declare @endhour as integer
declare @dayhours as integer
declare @dy as integer
declare @dw as integer
declare @LaborCode as varchar(5)
declare @initdate as datetime
declare @TotalTime integer
declare @mins as integer
--declare @ordernum integer

set @TotalTime = @TiempoDeRuta
set @startdate = getdate()
set @initdate = @startdate
set @sdate = convert(varchar(10),@startdate,101)
set @day = datepart(dw,@startdate)

set datefirst 7

set @nextday = convert(varchar(10),@startdate,101)
set @starthour = datepart(hh,@startdate)
set @mins = datepart(mi,@startdate)

select @startdate as [Fecha Inicial], @TiempoDeRuta as [Duracion]

--while  (@TiempoDeRuta > 0) or (@mins > 0)
while  (@TiempoDeRuta > 0) or (@TiempoDeRuta = 0 and @mins > 0) 
begin

	SELECT     @inithour = dbo.LaborCodes.InitHour, @endhour = dbo.LaborCodes.EndHour, 
	                      @dayhours = dbo.LaborCodes.Hours
	FROM         dbo.Calendar WITH(NOLOCK) INNER JOIN
	                      dbo.LaborCodes WITH(NOLOCK) ON dbo.Calendar.LaborCode = dbo.LaborCodes.LaborCode
	WHERE     (dbo.Calendar.[Date] = CONVERT(varchar(10), @nextday, 101)) AND (dbo.LaborCodes.PlantID = @Plant)

	if @inithour is null
	begin
		select 'Error en el calendario local'
		break
	end

	if @inithour = 0
	begin
		set @starthour = 0
	end
	else if @starthour = 0
	begin
		set @starthour = @inithour
	end
	if (@TiempoDeRuta <= 0) and (@inithour > 0)
	begin
		set @finaldate = @nextday + ' ' + convert(varchar(10),@inithour) + ':' + convert(varchar(10),@mins)
		set @mins = 0
	end
	else
	begin
		set @TiempoDeRuta = @TiempoDeRuta - (@endhour - @starthour)
		set @starthour = @inithour
		if @TiempoDeRuta <= 0 and (@inithour > 0)
		begin
			set @finaldate = @nextday + ' ' + convert(varchar(10),@endhour + @TiempoDeRuta) + ':' + convert(varchar(10),@mins)
		end
	end
	set @nextday = convert(varchar(10),dateadd(dd,1,@nextday),101)
end
set @TiempoDeRuta = @TotalTime
----------------------------------------------------------------

--Tabla Orderhed
--------------------------------- 

if exists(select ordernum from orderhed WITH(NOLOCK) where ordernum = @ordernum and company = @compania)
begin
	-- Esto obtiene la planta y saca el ultimo numero de receta para esa planta mas 1, para poder meter la orden a fuerzas.
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	set @index = len(@ordernum) - 7
	set @plantnum = convert(integer,substring(@ordernum,1,@index))
	select @ordernum = max(ordernum)+1 from orderhed with (nolock) where ordernum like (@plantnum + '%') and company = @compania
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
end

-- Verifica el numero de parte del diseño Free Form si es que la receta lo lleva.
SET @sd_part = ''
SELECT @sd_part=partnum FROM TblSpecialDesigns WITH(NOLOCK) WHERE ID=@SpecialDesignID 

			
if not exists(select shipviacode from shipvia  with (nolock) where shipviacode = @mensajeria and company = @compania)
begin
	select @mensajeria = shipviacode from customer with (nolock) where custnum = @custnum and company = @compania
end
select @Terms = termscode, @cadena=number06 from customer with (nolock) where custnum = @custnum and company = @compania
--select @Terms = coalesce(@Terms, (select termscode from terms where company = 'TRECEUX'))
select @Terms = coalesce(@Terms, 'T01')		-- ya que no hay la tabla terms en el local
if @Terms = ''
begin
	--select @Terms = termscode from terms where company = 'TRECEUX'
	select @Terms = 'T01'	-- ya que no hay la tabla terms en el local
end
set @maxOrden = cast(@ordernum as decimal(9,0))

if (@ARLab='0') 
	set @ARLab=''

	
INSERT INTO orderhed
( openorder, company, ordernum, custnum, ponum, entryperson, requestdate, orderdate, shipviacode, termscode, shiptonum, 
  discountpercent, needbydate, exchangerate, currencycode, refcode, reftobaserate, entrymethod, fob, salesreplist, ordercomment, 
  shipcomment, invoicecomment, picklistcomment, creditoverrideuserid, creditoverridedate, creditoverridetime, cardmembername, 
  cardnumber, cardtype, cardid, cardmemberreference, allocprioritycode, ccapprovalnum, extcompany, webentryperson, userdate1,
  shortchar01,number01, number20, number19, 
  checkbox01, shortchar06, shortchar09 , checkbox02 ,
  shortchar10 , number02 , number03 , number04 , number05 ,
  number06 , number07 , number08 , number09 , number11 ,
  number12 , number13 , number14 , number15 , number16 , 
  number17 , shortchar02 , shortchar03 , shortchar04 , shortchar05 , 
  shortchar07 , shortchar08 , number18, checkbox03 , number10 , 
  checkbox04 , checkbox05 , userchar1 , userchar2 , 
  userchar3 , userchar4, userinteger1,userdecimal1,userdecimal2,date01,checkbox09,character01,date02,checkbox10,userinteger2,character05, 
  checkbox17, character06, character07, character08, character09, checkbox18, checkbox20, 
  weborder, date07,cctax,sincronizada,satpickup)
VALUES
( 1, @compania,@maxOrden, @custnum, @OrdenLab,@entryperson,@current_date, @current_date, @mensajeria, @Terms, @shiptonum,
  @descto, @fecEnvio, 1, 'BASE', 'BASE', 1, 'S','','',@Antireflejante,
  @GeneratedYear,'','','','','','','','','','','','','','', getdate(),
  @OrdenLab, @RefDigital, @TrazadoArmazon, @TipoArmazon, 
  @Biselado, @Antireflejante, @Color, @Gradiente,
  @Tono, @EsferaR, @CilindroR, @EjeR, @AdicionR,
  @EsferaL, @CilindroL, @EjeL, @AdicionL, @AlturaR,
  @MonoR, @AlturaL, @MonoL, @DIPce, @DIPle, 
  @Altura, @A, @B, @ED, @Puente, 
  @Material, @Diseno, @ArmazonID, @Status, @Foco, 
  @Coated, @Abrillantado, @PrismaR, @EjePrismaR, 
  @PrismaL, @EjePrismaL, @TiempoDeRuta,@GrosCenD,@GrosCenI,@finaldate,@IsVirtualRx,@ARLab,getdate(),@IsReceivingAR,@OriginalRefDigital,@Comentarios,
  @IsGratis, @CostcoLente, @CostcoAR, @CostcoTinte, @CostcoPulido, @IsGarantia, @Optimizado, 
  @IsWebRx, @RcvedRemoteDate,0,@Sincronizada,@SpecialDesignID)

if @@error <> 0
begin
	ROLLBACK TRAN
	RETURN
end
/*
if @IsWebRx = 1
begin
	update ERPMaster.dbo.TblWebOrders set process_status = 1 where ponumber = @OrdenLab
end
*/

--Tabla comxref
------------------------------
INSERT INTO comxref(company, file_, key1, foreignkey1)
VALUES (@compania, 'idxOrderhedOrderdate', @maxOrden, '2453735')
if @@error <> 0
begin
	ROLLBACK TRAN
	set IDENTITY_INSERT  comxref  off
	RETURN
end
set IDENTITY_INSERT  comxref  off

declare @param varchar(2048)
set @param = ''

-- BLOQUE PARA COPIAR LOS PARAMETROS A LA TABLA TblText --
----------------------------------------------------------
declare @length int
----------------------------------------------------------
--select @pos = charindex(',',@parametros,1)
-- Checo de que compañia es la orden para saber a que warehouse se van a cargar las partes
-----------------------------------------------------------------------------------------------------------------------------------------------------------
-- Modificacion por Marco A. 04/22/2066
-- selecionamos el almacen de acuerdo a  la planta entrada como parametro de la tabla plant 
--
SET @warehousecode = ''
select @warehousecode = defrcvwhse  from plant WITH(NOLOCK) where company = @compania and plant = @plant
if @warehousecode = ''
begin
	set @warehousecode = 'MP01'
end
-----------------------------------------------------------------------------------------------------------------------------------------------------------
declare @ST as int
declare @AR as int
declare @Type as varchar(5)
declare @HasAR as int


set @ST = 0
set @AR = 0

set @par=0
set @orderline = 1
--set @lado = @descto
--set @descto = 0
select @length = len(@parametros)
--if @length > 0
set @pos = charindex(',',@parametros,1)
select @length, @parametros, @pos
if replace(@parametros, ',', '') <> ''
begin
	while(@pos > 0 )
	begin
		if @pos = 1
		begin
			set @pos = charindex(',',@parametros,2)
			if @pos = 0
			begin
				set @dato = ltrim(rtrim(substring(@parametros,2,len(@parametros)-1)))
				set @parametros = ''
			end
			else
			begin
				set @dato = ltrim(rtrim(substring(@parametros,2,@pos-2)))
			end
		end
		else
		begin
			set @dato = ltrim(rtrim(substring(@parametros,1,@pos-1)))
		end

		if ( @dato <> '')
		begin
			if( @par = 0 )
			begin
				set @partnum = @dato 
				if exists(select partnum from part with(nolock) where partnum = @partnum and company = @compania)
				begin

					select @Type = Clase, @HasAR = AR from VwPartTreceux WITH(NOLOCK) where partnum = @partnum and company = @compania
				
					if @Type like 'S%'
					begin
						set @ST = 1
					end
					if @HasAR = 1
					begin
						set @AR = 1
					end			
					select @par = 1
				end
				else
				begin
					set @par = 0
				end
			end
			else
			begin
				set @partqty = @dato -- Aqui tengo numero de Parte y Cantidad 

				-- Obtenemos precio para cada cliente 
				----------------------------------------------------
				set @auxprice = 0
				select  @auxprice = a.baseprice from  pricelstparts a with(nolock), customerpricelst b with(nolock) where    a.listcode = b.listcode and  a.partnum = @partnum and 
				b.custnum = @custnum
			
				-- Tabla part
				--------------------------------------
	     		select @auxprice = unitprice, @descr=partdescription, @ium=ium, @typecode=typecode, @price=unitprice, 
				@pricexcode=pricepercode, @expDiv=expensediv, @expChart=expensechart, @expDept= expensedept, 
				@prodcode=prodcode, @costmethod=costmethod, @salesum=salesum, @sellingfactor=sellingfactor 	
				from part  with (nolock)  where  partnum=@partnum and company=@compania

	          -- Lista de Precios
			--------------------------------------
			declare @orderdate as datetime
			select @orderdate = orderdate from orderhed with(nolock) where ordernum = @OrderNum 
			select @prodcode = prodcode from part with(nolock) where partnum = @partnum 
			
			set @price = 0
			set @listcode = ''
			

			if exists(select * from VwPriceLstParts with(nolock) where custnum = @custnum and partnum = @partnum and @orderdate between startdate and enddate)
				select top 1 @price = baseprice, @listcode = listcode from VwPriceLstParts with(nolock) where custnum = @custnum and partnum = @partnum and @orderdate between startdate and enddate order by seqnum  
			else if exists(select * from VwPriceLstGroups with(nolock) where custnum = @custnum and prodcode = @prodcode and @orderdate between startdate and enddate)
				select top 1 @price = baseprice, @listcode = listcode from VwPriceLstGroups with(nolock) where custnum = @custnum and prodcode = @prodcode and @orderdate between startdate and enddate order by seqnum 
			else if exists(select * from part with(nolock) where partnum = @partnum )
				select top 1 @price = unitprice, @listcode = '' from part with(nolock) where partnum = @partnum 
			else
				select @price = 0, @listcode = ''   

			
			--------------------------------------------------------------------------------------------------------------
			-- Aqui se obtiene el precio del HDRx dependiendo el prodcode y lo almacena en @HDRxPrice
			--------------------------------------------------------------------------------------------------------------
			select distinct @HDRxListcode = listcode from VwPriceLstGroups with(nolock) where @orderdate between startdate and enddate and custnum = @custnum and seqnum = 1
			if exists(select unitprice from tblhdrx with(nolock) where prodcode = @prodcode and listcode = @HDRxListcode)
				select @HDRxPrice = unitprice from tblhdrx with(nolock) where prodcode = @prodcode and listcode = @HDRxListcode
				
			--------------------------------------------------------------------------------------------------------------
			-- Aqui asigna el precio al detalle del HDRx en caso que exista, si no, no hace nada con el precio obtenido antes
			--------------------------------------------------------------------------------------------------------------
	
			if @partnum like 'HDRx'
				set @price = @HDRxPrice

			if (@cadena=2)
			begin
				Declare @Xprice as money
				set @Xprice = 0
				set @skusbn = ''
				select @skusbn='SNB' + sku from tblsanbornspricelistcodes with(nolock) where (Prodcode=@prodcode or Prodcode=@partnum) and Hdrx=@Optimizado

				select top 1 @price = baseprice, @listcode = listcode from VwPriceLstParts with(nolock) where custnum = @custnum and partnum = @skusbn and @orderdate between startdate and enddate order by seqnum  
				-- Si obtuvimos un precio de la VwPriceLstParts con el SKU de Sanborns usamos ese precio
				if @Xprice>0  
					Set @price=@Xprice
			end
			--------------------------------------------------------------------------------------------------------------

			--------------------------------------------------------------------------------------------------------------
			-- Aqui se obtiene el precio de terminado en caso que entre en el rango y se haya surtido con semiterminados
			--------------------------------------------------------------------------------------------------------------
			if (len(@partnum) = 10) and (@cadena<>2)
			begin
				declare @seqnum int
				select distinct top 1 @price = a.baseprice, @listcode = b.listcode, @seqnum=b.seqnum
					from VwPriceListByGroup a WITH(NOLOCK) inner join 
						customerpricelst b with(nolock) on a.listcode = b.listcode and a.custnum = b.custnum inner join 
						vwprodcoderangosterminados c with(nolock) on a.prodcode = c.prodcode
				where a.custnum = @custnum and c.partnum = @partnum and c.ordernum = @OrderNum and c.lado = @lado
				order by b.seqnum
			end
			--------------------------------------------------------------------------------------------------------------

			--------------------------------------------------------------------------------------------------------------
			-- Aqui se verifica si el trabajo lleva diseño Free Form distinto a HDRX para poner en ceros el precio de las pastillas
			--------------------------------------------------------------------------------------------------------------
			if (@SpecialDesignID > 0) AND (@sd_part <> 'HDRX') AND (LEN(@partnum) = 10) AND (ISNUMERIC(@partnum) = 1)
			begin
				set @price = 0
			end
			
			---------------------------------------------------------------------------------------------------------------
			-- Si traemos un paquete en la orden olvida cualquier precio y solo coloca el precio en el código del paquete
			-- los demás van en 0

			if (len(@CostcoLente)>1 AND @CostcoLente<>@partnum)
			begin
				set @price=0
			end
			---------------------------------------------------------------------------------------------------------------

			--------------------------------------------------------------------------------------------------------------
			-- [Ricardo Lozano - 4/21/2010]
			-- Aqui se pone el precio de las dioptrias en 0 si el material es MR-10 (cl_mat = 7)
			--------------------------------------------------------------------------------------------------------------
			if @Material = '7'
			begin
				if @partnum like 'DIOPT'
				begin
					set @price = 0
				end
			end		
			--------------------------------------------------------------------------------------------------------------
			----- Mod para AR Trivex CR Parasol  -- el AR Augen Matiz-e cuesta $ 122.50
			-- Pedro Farías Lozano  Julio 17 2012
			-- Pedro Farías Lozano  Septiembre 25 2012
			
			if (@cadena=0)
			begin
				if ((@Antireflejante='1' AND @Diseno='1') AND 
													--@typecode='P')	-- Si piden Antireflejante y NO ES UN PAQUETE (los paquetes son typecode=M
					exists(select partnum from VwPartTRECEUX with(nolock) where partnum = @partnum and company = @compania) )
				begin
					if (@Material='8')		SET @price = 0 -- Augen Parasol $ 440 por par
					if (@Material='4')		SET @price = 0 -- CR $ 220 por par
					if (@Material='1')		SET @price = 0 -- Trivex $ 390 por par
				end
				

				if ((@Antireflejante='1') AND @partnum='ARAUG' AND @Diseno='1') -- Es un código de Antireflejante y NO ES UN PAQUETE (los paquetes son typecode=M
			
				begin
					if (@Material='8')		SET @price = 190 -- Augen Parasol $ 440 por par
					if (@Material='4')		SET @price = 110 -- CR $ 220 por par
					if (@Material='1')		SET @price = 195 -- Trivex $ 390 por par
				end
			end
			---------------------------------------------------------------------------------
			
			if @price is null
			begin
				if @auxprice is null
				begin
					set @price = 0
				end
				else
				begin
					set @price = @auxprice
				end
			end

			if (@IsGratis = 1) or (@IsGarantia = 1)
			begin
				set @price = 0
				set @auxprice = 0
			end
			
			set @descuento = 0
			set @descuento =  ( @price * @partqty ) * ( @descto  /100) 

		     INSERT INTO orderdtl
		     (openline, company, ordernum, orderline, linetype, partnum, linedesc, ium, 
	 	     revisionnum, commissionable,discountpercent, unitprice, docunitprice, orderqty,
		     requestdate, prodcode, pricepercode, needbydate, custnum, basepartnum,warranty,
		     salesum, sellingfactor, sellingquantity, listprice, doclistprice,ordbasedprice,docordbasedprice, 
		     baserevisionnum, discount, docdiscount, checkbox01,poline,taxcatid,projectid,salescatid,
			 reference, xpartnum, XREVISIONNUM, ORDERCOMMENT, SHIPCOMMENT, INVOICECOMMENT, PICKLISTCOMMENT,
			 ORIGWHYNOTAX, CONTRACTCODE, WARRANTYCODE, MATERIALMOD, LABORMOD, WARRANTYCOMMENT, MKTGCAMPAIGNID,
			 EXTCOMPANY, LASTCONFIGUSERID, PRICEGROUPCODE/*,COUNTERSALEWAREHOUSE,COUNTERSALEBINNUM,COUNTERSALELOTNUM,
			 COUNTERSALEDIMCODE,KITFLAG,TAXEXEMPT*/)
		     VALUES
		     (1, @compania, @maxOrden, @orderline, 'PART', @partnum, @descr, @ium,
			 'A', 1, @descto,@price, @price, @partqty,
			 @current_date,@prodcode, @pricexcode,@fecEnvio, @custnum,@partnum, 1, 
			 @salesum, 1, @partqty, @price, @price, @price, @price,
			 @costmethod, @descuento, @descuento, @lado, '',@TaxCatID,'','',
			 '','','','','','','',
			 '','','','','','','',
			 '','',''/*,'','','',
			 '','',''*/)

				if @@error <> 0
				begin
					ROLLBACK TRAN
					--set IDENTITY_INSERT  orderdtl off
					RETURN
				end
			                if @lado = 0
           				      begin
				         set @lado = @lado + 1
			   	      end				
                                                                --set @lado = @lado + 1
				--set IDENTITY_INSERT  orderdtl off

				-- Tabla Orderrel
				------------------------------------
				--select @maxProg = isnull(max(progress_recid),0) + 1 from orderrel
				
				--set IDENTITY_INSERT  orderrel on  
		    INSERT INTO orderrel
		    (company, ordernum, orderline, orderrelnum, linetype, reqdate, ourreqqty, shipviacode, 
		    openrelease, firmrelease, ourstockqty, ourstockshippedqty, warehousecode, partnum, revisionnum, needbydate, plant, 

		    sellingreqqty, sellingstockqty, sellingstockshippedqty,shiptonum,taxexempt)

		    VALUES
		    (@compania, @maxOrden, @orderline, 1, 'PART',@current_date, @partqty, @mensajeria, 
		    1, 1, @partqty, 0, @warehousecode, @partnum, 'A', @current_date, @Plant, @partqty, @partqty,
		    @partqty, @shiptonum, '')
				if @@error <> 0
				begin
					ROLLBACK TRAN
					--set IDENTITY_INSERT  orderrel off 
					RETURN
				end
				--set IDENTITY_INSERT  orderrel off 

				-- Tabla partdtl
				---------------------------------------
				--select @maxProg = isnull(max(progress_recid),0) + 1 from partdtl
				
				--set IDENTITY_INSERT  partdtl on  
				INSERT INTO partdtl
					(company, type, partnum, duedate, requirementflag, quantity, ordernum, orderline, orderrelnum, 
					partdescription, ium, sourcefile, custnum, stocktrans, firmrelease, revisionnum, plant)
				VALUES     
					(@compania, 'Mtl', @partnum, @current_date, 1, @partqty, @maxOrden, @orderline, 1, @descr,
					@ium, 'OR', @custnum, 1, 1, 'A',@Plant)
				if @@error <> 0
				begin
					ROLLBACK TRAN
					--set IDENTITY_INSERT  partdtl off
					RETURN
				end
				--set IDENTITY_INSERT  partdtl off
				--select 'Se introdujo la sig. informacion: ' + @partnum + ' ' + cast(@partqty as varchar(10))

------				-- COMENTADO POR FRANCISCO FEB 29 2008
------				-- Partwhse
------				----------------------------------------
------				UPDATE    partwhse
------				SET   allocqty = allocqty + @partqty, salesallocqty = salesallocqty + @partqty
------				WHERE (company = @compania) AND (partnum = @partnum) AND (warehousecode = @warehousecode)
------				if @@error <> 0
------				begin
------					ROLLBACK TRAN
------					RETURN
------				end

				set @orderline = @orderline + 1			
				set @par =0
			end
		end 

		set @parametros= substring(@parametros, @pos,  datalength(@parametros)-@pos+1)   
		select @pos = charindex(',',@parametros,1)
	end  --end dato
end -- While 

declare @WillChange as bit
set @WillChange = 0

if @ST = 0
begin
	if @AR = 1
	begin
		set @WillChange = 1
		set @TiempoDeRuta = 1
--		update orderhed set date03 = date02, date04 = date02, date01 = dateadd(hour,1,userdate1) where ordernum = @maxorden
--		if @@error <> 0
--		begin
--			ROLLBACK TRAN
--			RETURN
--		end
	end
	else
	begin
		set @WillChange = 1
		set @TiempoDeRuta = 6
--		update orderhed set date03 = date02, date01 = dateadd(hour,6,userdate1) where ordernum = @maxorden
--		if @@error <> 0
--		begin
--			ROLLBACK TRAN
--			RETURN
--		end
	end	
	if @WillChange = 1
	begin
		set @TotalTime = @TiempoDeRuta
		set @startdate = getdate()
		set @initdate = @startdate
		set @sdate = convert(varchar(10),@startdate,101)
		set @day = datepart(dw,@startdate)
		
		set datefirst 7
		
		set @nextday = convert(varchar(10),@startdate,101)
		set @starthour = datepart(hh,@startdate)
		set @mins = datepart(mi,@startdate)
		
		select @startdate as [Fecha Inicial], @TiempoDeRuta as [Duracion]
		
		--while  (@TiempoDeRuta > 0) or (@mins > 0)
		while  (@TiempoDeRuta > 0) or (@TiempoDeRuta = 0 and @mins > 0) 
		begin
		
			SELECT     @inithour = LaborCodes.InitHour, @endhour = LaborCodes.EndHour, 
			                      @dayhours = LaborCodes.Hours
			FROM         Calendar WITH(NOLOCK) INNER JOIN
			                      LaborCodes WITH(NOLOCK) ON Calendar.LaborCode = LaborCodes.LaborCode
			WHERE     (Calendar.[Date] = CONVERT(varchar(10), @nextday, 101)) AND (LaborCodes.PlantID = @Plant)
		
			if @inithour is null
			begin
				select 'Error en el calendario local'
				break
			end
		
			if @inithour = 0
			begin
				set @starthour = 0
			end
			else if @starthour = 0
			begin
				set @starthour = @inithour
			end
			if (@TiempoDeRuta <= 0) and (@inithour > 0)
			begin
				set @finaldate = @nextday + ' ' + convert(varchar(10),@inithour) + ':' + convert(varchar(10),@mins)
				set @mins = 0
			end
			else
			begin
				set @TiempoDeRuta = @TiempoDeRuta - (@endhour - @starthour)
				set @starthour = @inithour
				if @TiempoDeRuta <= 0 and (@inithour > 0)
				begin
					set @finaldate = @nextday + ' ' + convert(varchar(10),@endhour + @TiempoDeRuta) + ':' + convert(varchar(10),@mins)
				end
			end
			set @nextday = convert(varchar(10),dateadd(dd,1,@nextday),101)
		end
		set @TiempoDeRuta = @TotalTime

		if @AR = 1
		begin
			update orderhed set date03 = date02, date04 = date02, date01 = @finaldate where ordernum = @maxorden
			if @@error <> 0
			begin
				ROLLBACK TRAN
				RETURN
			end
		end
		else
		begin
			update orderhed set date03 = date02, date01 = @finaldate where ordernum = @maxorden
			if @@error <> 0
			begin
				ROLLBACK TRAN
				RETURN
			end
		end
	end

	if @Antireflejante like '0'
	begin
		update orderhed set date04 = date02 where ordernum = @maxorden
		if @@error <> 0
		begin
			ROLLBACK TRAN
			RETURN
		end
	end


end
	--------------------------------------------------------
	-- Checo si la Rx es via Web
	--------------------------------------------------------
	if @IsWebRx = 1
	begin
		update TblWebOrders set process_status = 1, ordernum = @maxorden where ponumber = @OrdenLab and custnum = @custnum and seqid = @SeqID
	end

	--------------------------------------------------------
	-- Checo si la Rx es para COSTCO
	--------------------------------------------------------
	declare @IsCOSTCO as bit
	select @IsCOSTCO = checkbox03 from customer WITH(NOLOCK) where custnum = @custnum and company = @compania
	if @IsCOSTCO = 1
	begin
		if @CostcoLente = 0
		begin
			select @CostcoLente = lente from tblweborderslog WITH(NOLOCK) where ponumber = @OrdenLab
			update orderhed set character06 = cast(@CostcoLente as varchar(15)) where ordernum = @maxorden
		end
	end

	--------------------------------------------------------
	-- Actualizamos las fechas en que se genero la receta por el web y cuando llego fisicamente al laboratorio
	--------------------------------------------------------
	update orderhed set ccfreight = @SeqID, date10 = @FechaEntradaWeb, date11 = @FechaEntradaFisica where company = @compania and ordernum = @maxorden
	if @@error <> 0
	begin
		ROLLBACK TRAN
		RETURN
	end
	select @FechaEntradaWeb,@FechaEntradaWeb

	-- Numero de Vtg Generado
	set @mensaje = @maxOrden

	declare @framenum as varchar(20), @whsecode as varchar(30), @mydate as datetime, @qty as int, @reasoncode as varchar(5), @tranref as varchar(40), @msg as varchar(70)
	select @framenum = cast(framenum as varchar(10)), @mydate = getdate() from tblweborders with(nolock) where custnum = @custnum and ponumber = @OrdenLab


	-- El Numero de Armazon es de 5 digitos
	set @framenum = substring(@framenum,1,5)

	select @cadena=number06 from customer with(nolock) where custnum=@custnum
	
	if exists(select warehousecode from partwhse with(nolock) where partnum = @framenum) and (@cadena<>1) and 
	   exists(select partnum from part with(nolock) where partnum=@framenum)
	begin
		select @whsecode = warehousecode from partwhse with(nolock) where partnum = @framenum
		select @binnum = binnum from partbin with(nolock) where warehousecode = @whsecode and partnum = @framenum
		select @qty = -1, @reasoncode = 'NEW', @tranref = 'Descuento de Armazon'


		--select @framenum, @whsecode, @binnum, @qty, @reasoncode, @tranref, @entryperson
		set @onhandqty=0
		select @onhandqty=onhandqty from partbin with(nolock) where partnum=@framenum

		if (@onhandqty>0)
		begin
			exec dbo.SP_Qty_AdjustmentTRECEUX 'TRECEUX', @maxOrden, @OrdenLab, @RefDigital, @framenum, @mydate, @whsecode, @binnum, @qty, @reasoncode, @tranref, 0, @entryperson, @msg output
			if (@msg <> 'OK') 
			begin
				ROLLBACK TRAN
				RETURN
			end
		end
--		else
--		begin
--			set @mensaje = -3
--		end

	end

--set @mensaje = @maxOrden
select @mensaje as ordernum

COMMIT TRAN
End Try
Begin Catch
	RETURN Error_Message()
End Catch
